h1 {
    margin: 0;
    font-size: 1.5rem;
}

.cabecalho {

    max-height: 100px;

    button {
        border: none;
        background: none;
    }

}

.offcanvas-header {
    margin: 0 5px;
}

.offcanvas-body {
    border-top: 2px solid gray;
    
    padding: 0;

    nav {

        .nav-item {
            display: flex;
            align-items: center;

            margin: 0.8em 0;
            padding: 0 1em;
        }

    }

}

.offcanvas .btn-close {
    transform: scale(1.5); // aumenta 50%
    margin-top: 10px;
    margin-bottom: auto;
}
