.Interessados-titulo {
    color: var(--cor-primaria);
    font-weight: 700;
}

.Interessados-texto {
    font-size: 0.9rem;
    margin: 5px 0;
}

.Interessados {
    width: 95%;
    padding: 15px;

    background-color: var(--cor-fundo);
    border-radius: 15px;

    .Interessados-info-habilidades {

        .Interessados-habilidade {

            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            .Interessados-generalItem {
                border-radius: 5px;
            }
            
        }
    }

    .Interessados-secao1 {

        width: 30%;
        margin-right: 10px;
        
        .Interessados-habilidadesTitulo {
            margin-top: 10px;
        }

        
    }

    .Interessados-secao {
        
        width: 100%;
        margin-left: 10px;

        .Interessados-btn {
            border: none;
            border-radius: 10px;

            background-color: var(--cor-primaria);
            color: var(--texto-alternativo);

            padding: 10px 20px;
            margin-top: 10px;
        }
    }
}

.Interessados-generalItem {
    background-color: var(--cor-secundaria);
    color: var(--texto-alternativo);
    padding: 0.5em;

    border-bottom: 2px solid var(--cor-fundo);
}

.Interessados-conclusao {
    border-left: 2px solid var(--cor-fundo);
    text-align: center;
    margin: auto 0;
}

.interessados-sessao {
    margin: 0.5rem 0;
}

